# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# Flutter/Dart/Pub related
/pubspec.lock
example/pubspec.lock
**/doc/api/
.dart_tool/
**/.dart_tool/
/build/
**/build/
/coverage/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
**/packages
